body {
    background-image: URL("../images/gotWallpaper1PNG.png");
}

.mainHeader {
    padding: 30px;
    margin-top: 20px;
    color: white;
    font-style: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 80px;
}

.mainSection {
    color: black;
    font-size: 25px;
    font-style: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*background-image: URL("../images/gotWallpaper1PNG.png");*/
    opacity: 0.8;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
}

.timerTitle {
    color: black;
    font-style: bolder;
    font-size: 15px;
}

.timerSpot {
    font-style: bolder;
    font-size: 30px;
    color: red;
}