body {
    background-image: URL("../images/wallpaper2.png");
}

.mainHeader {
    padding: 1px;
    margin-top: 20px;
    color: white;
    font-style: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 80px;
}

.mainSection {
    color: black;
    font-size: 25px;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 0.9;
    padding: 10px;
}

.timerTitle {
    color: black;
    font-weight: 900;
    font-size: 15px;
}

.timerSpot {
    font-weight: 900;
    font-size: 30px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.answer-text {
    color: black;
    font-size: 20px;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.answer {
    color: black;
    font-size: 20px;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.images {
    height: 250px;
    width: 400px;
    margin: (1px, 15px, 15px, 15px)
}

.start-button {
    margin-top: 100px;
    margin-bottom: 20px;
}

.results-title {
    color: black;
    font-weight: 900;
    font-size: 15px;
}

.results-total {
    color: black;
    font-weight: 900;
    font-size: 20px;
}

.answers:hover {
    color: rgb(6, 110, 6);
}

.correct-color {
    color: rgb(16, 204, 16);
    font-weight: 900;
}

.wrong-color {
    color: red;
    font-weight: 900;
}

.warning-text {
    color: black;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif
}


